.card{
    height: 85vh;
    border-radius: 15px !important;
    background-color: rgba(0,0,0,0.4) !important;
}

.msg_card_body{
    overflow-y: auto;
}

.container{
    align-content: center;
}
.search{
    border-radius: 15px 0 0 15px !important;
    background-color: rgba(0,0,0,0.3) !important;
    border:0 !important;
    color:white !important;
}
.search:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.type_msg{
    background-color: var(--first-color) !important;
    border:0 !important;
    color:var(--text-color) !important;
    height: 60px !important;
    overflow-y: auto;
}
    .type_msg:focus{
     box-shadow:none !important;
   outline:0px !important;
}
.user_img{
    height: 70px;
    width: 70px;
    border:1.5px solid #f5f6fa;

}
.user_img_msg{
    height: 25px;
    width: 25px;
    border:1.5px solid #f5f6fa;

}
.img_cont{
    position: relative;
    height: 70px;
    width: 70px;
}
.online_icon{
position: absolute;
height: 15px;
width:15px;
background-color: #4cd137;
border-radius: 50%;
bottom: 0.2em;
right: 0.4em;
border:1.5px solid white;
}
.offline{
background-color: #c23616 !important;
}

.user_info{
margin-top: auto;
margin-bottom: auto;
margin-left: 15px;
}
.user_info span{
font-size: 20px;
color:var(--title-color);
}
.user_info p{
font-size: 10px;
color: var(--text-color)
}
.video_cam{
margin-left: 50px;
margin-top: 5px;
}
.video_cam span{
color: white;
font-size: 20px;
cursor: pointer;
margin-right: 20px;
}
.msg_cotainer{
margin-top: auto;
margin-bottom: auto;
margin-left: 10px;
border-radius: 25px;
background-color:var(--third-color);
padding: 10px;
position: relative;
max-width: 58%;
min-width: 33%;
}
.msg_cotainer_send{
margin-top: auto;
max-width: 58%;
margin-bottom: auto;
margin-right: 10px;
border-radius: 25px;
background-color:var(--input-background-color);
padding: 10px;
position: relative;
}
.msg_time{
position: absolute;
left: 0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_time_send{
position: absolute;
right:0;
bottom: -15px;
color: rgba(255,255,255,0.5);
font-size: 10px;
}
.msg_head{
position: relative;
}
.header{
    background-color: var(--second-color);
    padding: 0.4rem;
}

.toggle-emoji{
    position: absolute;
    height: 100%;
    top: 0;
    right: 2rem;
    outline: none;
    z-index: 99;
}
.toggle-emoji img{
    height: 2rem;
    width: 2rem
    
}

emoji-mart{
    top: -67vh;
    right: 0;
}



.tiblock {
    align-items: center;
    display: flex;
    height: 17px;
}
.ticontainer{
    height: 2rem;
    background: gray;
    max-width: 15rem;
    border-radius: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.ticontainer .tidot {
    background-color: white;
}

.tidot {
    -webkit-animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
    border-radius: 2px;
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    width: 4px;
}

@-webkit-keyframes mercuryTypingAnimation{
0%{
  -webkit-transform:translateY(0px)
}
28%{
  -webkit-transform:translateY(-5px)
}
44%{
  -webkit-transform:translateY(0px)
}
}

.tidot:nth-child(1){
-webkit-animation-delay:200ms;
}
.tidot:nth-child(2){
-webkit-animation-delay:300ms;
}
.tidot:nth-child(3){
-webkit-animation-delay:400ms;
}

