<div class="chat">
    <div class="card">
        <div class="card-header msg_head">
            <div class="d-flex bd-highlight header">
                <div class="img_cont" *ngIf="otherUserData">
                    <img src="{{otherUserData.profilePic}}" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                </div>
                <div class="user_info">
                    <span *ngIf="otherUserData">{{otherUserData.name}}</span>
                    <p *ngIf="messagesArray">{{messagesArray.length}} Messages</p>
                </div>
            </div>
        </div>
        <div class="card-body msg_card_body" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div class="d-flex justify-content-start mb-4" *ngFor="let msg of messagesArray" [ngClass]="{'justify-content-end':msg.userName===userData.name}">
                <div class="img_cont_msg" *ngIf="msg.userName!==userData.name">
                    <img src="{{otherUserData.profilePic}}" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer">
                    {{msg.message}}
                    <span class="msg_time">{{msg.messageTime | timeAgo}}</span>
                </div>
             
            </div>
            <div *ngIf="isTyping" class="ticontainer">
                <div class="tiblock">
                    <span>{{otherUserData.name}} is typing</span>
                  <div class="tidot"></div>
                  <div class="tidot"></div>
                  <div class="tidot"></div>
                </div>
              </div>
        </div>
        <div class="card-footer position-relative">
            <div class="input-group">
                <textarea (keypress)="typing()" (keydown.enter)="sendMessage()" [(ngModel)]="message" name="message" name="" class="form-control type_msg"
                    placeholder="Type your message..."></textarea>
            </div>
            <div (clickOutside)="onClickedOutside($event)">
                    <button type="button" class="toggle-emoji" (click)="toggleEmojiPicker()">
                            <img src="../../../assets/images/icon_images/smiley.png">
                    </button>
                    <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker" title="Pick your emoji…"></emoji-mart>
            </div>
           
        </div>
    </div>
</div>