/* .box_container:hover{
    background : var(--hover-background-color)
} */
/* .box_container{
    margin-top: 1rem
} */

.comment_input{
    color: white;
    outline: 0;
    background: var(--hover-background-color);
    height: 2.5rem;
    padding: 10px;
    width: 100%;
}

.other_comment .comments{
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: var(--title-color) !important;
}

.other_comment{
    padding: 0.3rem 0.5rem;
    background: var(--hover-background-color) ;
    border-radius: 18px;
}