<div class="box_container rounded">
        <!-- for comments -->
    <!-- <div class="media d-flex align-items-top mi-h-3">  -->

        <!-- for menu -->
            <div class="media d-flex align-items-center mi-h-3">
                    
        <div class="position-relative">
            <img src="../../../assets/images/user/user-1.jpg" class="mr-3 img-md rounded-circle" alt="...">
            <span class="online_circle"></span>
        </div>
        <div class="media-body">
            <!-- <div aria-label="my_comment">
                <input type="text" name="" placeholder="Write a comment..." class="rounded-pill comment_input">
            </div> -->
            <!-- <div aria-label="other_comment">
                <div class="other_comment">
                    <small>Milan Raval</small>
                    <p class="comments">Cras sit amet nibh libero scabdbjkbd andfbjbe asjkdbb  ashbhb asjbhj </p>
                </div>
            </div> -->
            <div aria-label="text_type">
                <h6 class="m-0 font-weight-bold">Media heading</h6>
                <!-- <small>Cras sit amet nibh libero</small> -->
            </div>
        </div>
    </div>
</div>