<header class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar shadow mi-h-1">
    <div class="navbar-nav-scroll position-absolute d-none d-md-block">
        <ul class="nav nav-pills">
            <li class="nav-item">
             <app-search-bar></app-search-bar>
            </li>
        </ul>
    </div>

    <ul class="navbar-nav ml-md-auto d-none d-xl-block">
        <ul class="nav nav-pills _header">
            <li class="nav-item mr-1 back-hover">
                <a class="nav-link header-icon" href="#">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item mr-1 back-hover">
                <a class="nav-link header-icon" href="#">
                    <i class="fa fa-desktop" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item mr-1 back-hover">
                <a class="nav-link header-icon" href="#">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item mr-1 back-hover">
                <a class="nav-link header-icon" href="#">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </a>
            </li>
            <li class="nav-item mr-1 back-hover">
                <a class="nav-link header-icon" href="#">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </ul>
    <ul class="navbar-nav ml-md-auto">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </ul>
</header>