:host{
    display: flex;
    justify-content: center;
}

.card{
    width: 85%;
}

.card-text{
    color: var(--title-color);
    font-size: 1.2rem;
}
.icon_container:hover i{
    transform: scale(1.2);
}
.icon_container i{
    color: white;
    padding: 2px;
    border-radius: 50%;
    cursor: pointer;
    
}
.like_icon{
    background: var(--blue-color)
}
.love_icon{
    background: red
}

.likes{
    color: var(--blue-color) !important;
    font-weight: bold
}
.popover{
    width: 6rem;
    padding: 0.2rem;
    background: var(--popover-background);
    top:1.5rem;
    visibility: hidden;
}

.popover p,.popover h5{
    color: var(--third-color);
}

.icon_container:hover .popover{
    visibility: visible
}

.popover p{
    margin: 0
}

