<div class="card global-dark-2-background shadow mt-3">
    <app-box class="m-2"></app-box>
    <p class="card-text ml-2 mr-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

    <img src="../../../assets/images/user/user-1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <div class="container">
            <div class="row m-0">
                <div>
                    <span>2 of 3 (wider)</span>
                </div>
                <div class="col p-0 text-right">
                    <span class="mr-2">100 Comments</span>
                    <span>100 Shares</span>
                </div>
            </div>
            <hr/>
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item back-hover rounded">
                    <span>
                        <i class="fa fa-thumbs-o-up pr-2" aria-hidden="true"></i>Like</span>
                </li>
                <li class="list-group-item back-hover rounded">
                    <span>
                        <i class="fa fa-comment-o pr-2" aria-hidden="true"></i>Comments</span>
                </li>
                <li class="list-group-item back-hover rounded">
                    <span>
                        <i class="fa fa-share pr-2" aria-hidden="true"></i>Share</span>
                </li>
            </ul>
            <hr/>
            <app-box></app-box>
            <app-box></app-box>
            <app-box></app-box>
        </div>
    </div>