


<div class="container-fluid">
    <div class="row flex-xl-nowrap justify-content-center">
        <div class="col-md-3 col-xl-3 bd-sidebar">
            <!-- <app-home-sidebar></app-home-sidebar> -->
            <app-chat-list></app-chat-list>
            
        </div>
        <nav class="d-none d-xl-block col-xl-3 bd-toc" aria-label="Secondary navigation">
                <!-- <app-chat-list></app-chat-list> -->
        </nav>
        <main class="col-md-9 col-xl-6 py-md-3 pl-md-5 bd-content" role="main">
            <app-chat-box></app-chat-box>
        </main>
    </div>
</div>