._modal{
    background: var(--second-color);
}
.modal-header{
    border-bottom: 1px solid var(--fourth-color)
}
.modal-footer {
    border-top: 1px solid var(--fourth-color)
}

.modal-body textarea{
    color: var(--input-text-color);
    height: 100%;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    resize: none;
    background: var(--second-color);
    
}
::placeholder { 
    font-size: 1.5rem;
    opacity: 0.4;
}
.image_conatiner i{
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.4rem;
    background: var(--third-color);
    right: 0;
}

.image_conatiner:hover i{
    visibility: visible !important
}
emoji-mart{
    top: 0;
    right: 0;
}

.add_to_post{
    height: 3rem;
    border: 1px solid var(--fourth-color);
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    margin: 1rem 0;
}

.add_to_post h6{
    width: 50%;
    margin: 0
}
.add_to_post div{
    width: 50%;
    display: flex;
    justify-content: space-between
}
.add_to_post .icon{
    margin-left: 1rem
}
