
    <form role="search" class="d-flex d-block bd-search align-items-center">
            <app-search-bar placeholder="Search Contacts"></app-search-bar>
            
            <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse" data-target="#bd-docs-nav"
                aria-controls="bd-docs-nav" aria-expanded="true" aria-label="Toggle docs navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img" focusable="false">
                    <title>Menu</title>
                    <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"></path>
                </svg>
            </button>
        </form>
        <nav class="collapse bd-links scroll full-height" id="bd-docs-nav" aria-label="Main navigation">
            <!-- <div class="bd-toc-item active">
    
                <ul class="nav bd-sidenav">
                    <li class="rounded-lg" appHilightBackground *ngFor="let config of homeConfigs.sidebarConfig">
                        <a [routerLink]="config.url">
                            <app-box [config]="config"></app-box>
                        </a>
                    </li>
                </ul>
            </div>
     -->
     <div class="chat_container">
            <!-- <div class="container pb-2">
                <app-search-bar placeholder="Search Contacts"></app-search-bar>
            </div> -->
        
            <ul *ngFor="let user of userListConfig" class="chat_box">
                <li class="toc-entry toc-h2 rounded-lg" appHilightBackground>
                    <a [routerLink]="['/messages/'+user.slug]">
                        <app-box [config]="user"></app-box>
                    </a>
                </li>
            </ul>
        </div>
        </nav>

<!-- <div class="chat_container">
    <div class="container pb-2">
        <app-search-bar placeholder="Search Contacts"></app-search-bar>
    </div>

    <ul *ngFor="let user of userListConfig" class="chat_box">
        <li class="toc-entry toc-h2 rounded-lg" appHilightBackground>
            <a href="/docs/4.5/getting-started/introduction/">
                <app-box [config]="user"></app-box>
            </a>
        </li>
    </ul>
</div> -->