
   <div class="container pb-2">
            <app-search-bar placeholder="Search Contacts"></app-search-bar>
    </div>

<ul>
    <li class="toc-entry toc-h2 rounded-lg" appHilightBackground>
            <a href="/docs/4.5/getting-started/introduction/">
                <app-box></app-box>
            </a>
    </li>
    <li class="toc-entry toc-h2 rounded-lg" appHilightBackground>
            <a href="/docs/4.5/getting-started/introduction/">
                <app-box></app-box>
            </a>
         </li>
</ul>