.search_input{
    color: var(--input-text-color);
    outline: 0;
    background: var(--second-color);
    width: 250px;
    border-bottom: 2px solid var(--second-color);
    height: 2.5rem;
    padding: 10px;
}

.search_icon{
    top: 19%;
    right: 5%;
    font-size: 1.2rem;
    color: var(--text-color)
}
